@model List<Course>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-course">
                <div class="course-img">
                    <a href="course-details.html">
                        <img src="~/Assets/img/course/@item.Image" alt="course">
                        <div class="course-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="course-content">
                    <h3><a href="course-details.html">@item.Name</a></h3>
                    <p>@item.Desc</p>
                    <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@item.Id">read more</a>
                </div>
            </div>
        </div>
    }


</div>