@model Notice
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}




<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Edit">

        <div class="form-group">
            <label asp-for="DateTime"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="DateTime" maxlength="500" placeholder="DateTime">
            <span class="text-danger" asp-validation-for="DateTime"></span>
        </div>
        <div class="form-group">
           <label asp-for="Desc"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Desc" maxlength="500" placeholder="Description">
             <span class="text-danger" asp-validation-for="Desc"></span>
         </div>
           <button type="submit" class="btn btn-primary me-2">Save</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>