@model About

<div class="about-area pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Model.Header <span>@Model.HeadDesc</span></h2>
                    <p>@Model.Description</p>
                    <p class="hidden-sm">@Model.DescriptSecond</p>
                    <a class="default-btn" href="about.html">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/Assets/img/about/@Model.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>

