@model TeacherVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <form class="forms-sample mt-5" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input class="form-control" style="width:300px" asp-for="Image">
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input class="form-control" style="width:300px" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Position">Position:</label>
            <input class="form-control" style="width:300px" asp-for="Position">
            <span class="text-danger" asp-validation-for="Position"></span>
        </div>
        <div class="form-group">
            <label asp-for="About">About:</label>
            <input class="form-control" style="width:300px" asp-for="About">
            <span class="text-danger" asp-validation-for="About"></span>
        </div>
        <div class="form-group">
            <label asp-for="Degree">Degree:</label>
            <input class="form-control" style="width:300px" asp-for="Degree">
            <span class="text-danger" asp-validation-for="Degree"></span>
        </div>
        <div class="form-group">
            <label asp-for="Experience">Experience:</label>
            <input class="form-control" style="width:300px" asp-for="Experience">
            <span class="text-danger" asp-validation-for="Experience"></span>
        </div>
        <div class="form-group">
            <label asp-for="Faculty">Faculty:</label>
            <input class="form-control" style="width:300px" asp-for="Faculty">
            <span class="text-danger" asp-validation-for="Faculty"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mail">Datatime:</label>
            <input class="form-control" style="width:300px" asp-for="Mail">
            <span class="text-danger" asp-validation-for="Mail"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number">Number:</label>
            <input class="form-control" style="width:300px" asp-for="Number">
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="Skype">Skype:</label>
            <input class="form-control" style="width:300px" asp-for="Skype">
            <span class="text-danger" asp-validation-for="Skype"></span>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.SubjectsIds, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-6">
                @Html.ListBoxFor(model => model.SubjectsIds, new MultiSelectList(Model.drpSubjects, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "Subjects_dropdown" })
            </div>
        </div>


        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationPartial" />
}

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Subjects_dropdown').multiselect();
        });
    </script>
}


